<h1>Contact</h1>
<div class="contact">			
	<p>
	  Thank you for your interest in my work.
	  <br>
	  <br>
	  If you'd like to get in touch with me,
	  <br>
	  you can contact me at:
	  <br>
	  <span class="glyphicon glyphicon-phone-alt"></span> +31 68 1234 972
	  <br>
	  <span class="glyphicon glyphicon-envelope"></span> judeur@gmail.com
	  <br>
	  <span class="glyphicon glyphicon-earphone"></span> skype judeur57
	  <br>
	  <span class="glyphicon glyphicon-thumbs-up"></span> facebook.judeur
	  <br>
	  <br>
	</p>
</div>
