<div ng-controller="OrdersCtrl">
  <h1> Orders</h1>

  <form class="form-inline" ng-submit="addOrder()">
    <strong>Add order:</strong>
    <input type="hidden" value="{{orders[orders.length - 1].id + 1 }}" >
    <input type="number" step="1" class="form-control" placeholder="Total" ng-model="newOrder.total">
    <select ng-model="newOrder.product_id" class="form-control">
      <option value="" disabled selected>Select a book</option>
      <option ng-repeat="product in products" value="{{product.id}}">{{product.name}}</option>
    </select>
    <input type="submit" value="+" class="btn btn-success">
  </form>

  <%= render 'orders' %>

</div> <!-- ng-controller -->