// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$fmain: 13px Arial, Helvetica, sans-serif;
$cmain: #9b9393;
$ccontrast: #e28b64;
/*------------------ Main content -------------*/
body {
	font-family: "Roboto Slab", sans-serif;
	font-weight: 300;
	font-size: 2em;
	position: relative;
	margin-top: 100px;
	height: 100vh;
}

.main {
	min-height: 100%;
	margin: 140px auto -50px;
	height: auto !important;
	height: 100%;
}

h1,
h2, 
h3, 
h4 {
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	margin: 0;
	color: #777;
}
p {color: #777;}

.container {
  margin-right: auto;
  margin-left: auto; }
   
/* ---------------------- Main Navigation --------------- */
.navbar .container-fluid{
  padding: 30px 0;
  height: 95px; 
  background-color: #9b9393;}

.nav>li {
   padding-right: 25px;
}
.navbar-default .navbar-nav .active a {
  background: transparent;
  border-bottom: 3px solid #ec8b64;
  text-shadow: none; 
  color: #f3f1f0;}

.navbar-default .navbar-nav>li>a {
    color: #f3f1f0;
}

.navbar-default .navbar-nav .active a:hover {
  background: transparent;
  font-weight: 500; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #ec8b64;
  background-color: transparent; }
  
.navbar-default .navbar-brand {
    color: #f3f1f0;
}
  
@media only screen
and (max-width: 768px) {
	.page-header {
	 margin: 120px 0 20px;
	}
}

@media (min-width: 768px) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	    margin-left: 20px;
	 }
	 .navbar-nav>li>a {
	    padding-top: 0;
	    padding-bottom: 2px;
		}
 }
 
 .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: normal;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 5px 15px;
}

.navbar-brand {
    /* float: left; */
    /* height: 50px; */
    padding: 0 0 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-default .navbar-nav > li > a {
    color: #f3f1f0;
    font-size: 1.2em;
  }  
/* ---------------------- Navbar Toggle--------------- */

.navbar-toggle {
	background-color: #045449;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}




/* --------------------- Footer ------------------ */
.navbar-fixed-bottom {
	background-color: #9b9393;
	height: 70px;
	padding-top: 20px;
}
.navbar-fixed-bottom p {
	color: #f3f1f0;
	font-size: 0.8em;
}
